body {
  
   
     }
   }
p {
  font-family: arial;
 
  
  }
h1 {
   font-family: serif;
   font-style: regular
   }
.left-image {
        float: left;
        margin-right: 15px; /* Отступ справа от картинки */
        width: 200px;
        height: 150px;
            }
.right-image {
        float: left;
        width: 200px;
        height: 150px;
             }
a {
  text-decoration:none;
  color:black;
}
.img-button1 {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


.img-button1 img {
	width:700px;
	height:120px;
    display: block;
    transition: transform 0.1s, filter 0.1s;
	margin-left:300px;
}

/* эффект при наведении */
.img-button1:hover img {
    filter: brightness(0.95);
}

/* эффект при нажатии */
.img-button1:active img{
    transform: translateY(4px);
    filter: brightness(0.85);
}
.buttons1 {
	width:auto;
	height:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
	
}
.buttons1 {
  display: flex;
  gap: 160px;       
  justify-content: left;
  margin-left:20px
}
.img-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


.img-button img {
	width:100px;
	height:60px;
    display: block;
    transition: transform 0.1s, filter 0.1s;
	margin-left:50px;
	margin-top:-200px
}

/* эффект при наведении */
.img-button:hover img {
    filter: brightness(0.95);
}

/* эффект при нажатии */
.img-button:active img{
    transform: translateY(4px);
    filter: brightness(0.85);
}
.buttons {
	width:0px;
	height:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
	margin-left:10px;
	
}
.buttons {
  display: flex;
  gap: 0px;       
  justify-content: left;
  margin-left:0px;
  margin-top:-50px;
}
.container {
	background:#A7D7C5;
	margin-top:100px;
	height:120px

}
/* ПК — по умолчанию */
.container {
    display: flex;
    flex-direction: row;
}

/* Планшеты */
@media (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
    }
}

/* Телефоны */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
