
table {
	bordercolor:black;	
      }

img-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


.img-button img {
	width:700px;
	height:600px;
    display: block;
    transition: transform 0.1s, filter 0.1s;
	margin-right:10%;
}

/* эффект при наведении */
.img-button:hover img {
    filter: brightness(0.95);
}

/* эффект при нажатии */
.img-button:active img{
    transform: translateY(4px);
    filter: brightness(0.85);
}
button {
	width:300px;
	height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
	margin-left:100px;	
}
.buttons {
  display: flex;
  gap: 160px;       
  justify-content: left;
  margin-left:20px
 
}
p {
  display: block;
  margin-left:250px ;   
  width: 300px;        
  height: 150px ;
 
}
img-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


.img-button1 img {
	width:600px;
	height:580px;
    display: block;
    transition: transform 0.1s, filter 0.1s;
	margin-right:30px;
	margin-top:30px

	
}

/* эффект при наведении */
.img-button1:hover img {
    filter: brightness(0.95);
}

/* эффект при нажатии */
.img-button1:active img{
    transform: translateY(4px);
    filter: brightness(0.85);
}
button {
	width:200px;
	height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
	margin-left:100px;	
}
.buttons2 {
  display: flex;
  gap: 160px;       
  justify-content: left;
  margin-left:20px;
  margin-top:100px
}
.container {
	background:white;
	margin-top:220px;
	height:120px
}




	


